@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #FF5733;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 4rem;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    margin: 30px;
}

#hour, #minute, #second {
    font-size: 3rem;
    padding-left: 20px;
}

.buttons button {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 12px;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
}

/* media queries */


@media only screen and (min-width: 768px) {
    .container h1 {
        font-size: 6rem;
    }

    #hour, #minute, #second {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .container h1 {
        font-size: 4rem;
    }
    #hour, #minute, #second {
        font-size: 2rem;
    }

    .buttons button {
        padding: 4px;
        font-size: 16px;
        width: 80px;
    }
}